@(page:Int, pageLength:Int, collectionLength:Int, route:Int => Call, bound:Int = 5)
@lowbound() = @{
    (((page.toDouble - 1) / bound).floor * bound).toInt + 1
}
@highbound() = @{
    if ((lowbound() + bound - 1) * pageLength > collectionLength)
//        collectionLength / pageLength + 1
        (collectionLength.toDouble / pageLength).ceil.toInt
    else
        lowbound() + bound - 1
}

<div class="pb_centered">
    <div class="pagination">
        <ul class="paginator">
            @if(page == 1){
                <li><a class="disabled" href="#">Previous</a></li>
            } else {
                <li><a href="@route(page-1)">Previous</a></li>

            }

            @if(page < bound) {
                <li><a class="disabled" href="#">&laquo;</a></li>
            } else {
                @if(lowbound()-bound <= 0) {
                    <li><a href="@route(1)">&laquo;</a></li>
                } else {
                    <li><a href="@route(lowbound()-bound)">&laquo;</a></li>
                }
            }

            @for(i <- lowbound().max(1) until page) {
                <li><a href="@route(i)">@i</a></li>
            }

            <li><a class="active" href="#">@page</a></li>

            @for(i <- page+1 to highbound()) {
                <li><a href="@route(i)">@i</a></li>
            }

            @if((highbound() + 1) * pageLength <= collectionLength && page * pageLength < collectionLength) {
                <li><a href="@route(highbound() + 1)">&raquo;</a></li>
            } else {
                <li><a class="disabled" href="#">&raquo;</a></li>
            }

            @if((page + 1) * pageLength <= collectionLength) {
                <li><a href="@route(page+1)">Next</a></li>
            } else {
                <li><a class="disabled" href="#">Next</a></li>

            }
        </ul>
    </div>
</div>