@import models.Document

@(results: Array[Document], count:Int, page:Int, pageLength:Int)


<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>Search for asdasd</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
	<link href="@routes.Assets.versioned("stylesheets/pagination.css")" rel="stylesheet" type="text/css">
	<link href="@routes.Assets.versioned("stylesheets/app.min.css")" rel="stylesheet" type="text/css">
</head>
<body id="search" class="navbar-fixed">
	<script src="@routes.Assets.versioned("javascipts/app.min.js")"></script>
	
	<div class="page">
		<nav class="navbar navbar-fixed-top header" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<form class="navbar-form navbar-left hidden-xs" action="@routes.SearchController.search()" method="get" id="nav-search">
						<!--input type="hidden" id="search-sort-by" name="s" value=""-->
						<div class="input-group">
							<input type="text" class="form-control" id="in-search" placeholder="E.g Russia" name="query" >
							<!--span class="input-group-addon"><i class="icon-search"></i></span-->
						</div>
					</form>
					<!--button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<i class="icon-arrow-down" id="nav-toggler"></i>
					</button-->
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown visible-xs">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon"><i class="icon-tags"></i></span>Tags</a>
						</li>
						<!--li class="hidden-xs"><a href="#" id="nav-btn-tags"><span class="icon"><i class="icon-tags"></i></span>Tags</a></li>
						<li><a href="/blog"><span class="icon"><i class="icon-rss"></i></span>Blog</a></li>
						<li><a href="https://twitter.com"><span class="icon"><i class="icon-ttter"></i></span>Twitter</a></li-->
					</ul>
					<!--form class="navbar-form pull-left visible-xs" action="/search" method="get" id="nav-search-xs">
						<div class="input-group">
							<input type="text" class="form-control" id="in-search-xs" placeholder="Search Components" name="q" value="asdasd">
							<span class="input-group-addon"><i class="icon-search"></i></span>
						</div>
					</form-->
				</div>
			</div>
		</nav>
		<div id="page-body-spacer"></div>
		<div class="fullpage"></div>
		<div class="page-body-ef">
			<div id="main-content">

<div class="container" id="search-content">
	<!--div class="row" id="search-header"-->
		<div id="title" class="col-lg-12 col-sm-12 col-xs-12">
			<h3>Metrics</h3>
			<div class="pull-left">
				<p>@count Results</p>
			</div>
			<!--div class="dropdown pull-right">
				Sort By: <a href="#" id="sort-by" data-toggle="dropdown">Relevance</a>
				<ul class="dropdown-menu" id="sort-by-opt" role="menu" aria-labelledby="dropdownMenu">
					<li><a tabindex="-1" href="#">Relevance</a></li>
					<li><a tabindex="-1" href="#">Downloads</a></li>
					<li><a tabindex="-1" href="#">Likes</a></li>
				</ul>
			</div-->
		</div>
		<!--div id="sort" class="col-lg-4 col-sm-4 col-xs-12">
		</div>
	</div>
	
	<!--div class="row row-nb search-results row-first"-->
		
		
		<!--div class="col-lg-12 col-sm-12 col-xs-12"-->
		<!--h3>result for word _</h3-->
		<!--p>Try reducing the number of keywords or changing a few keywords. search in 00000,2 Sec.</p-->
			<table class="table borderless">
			@for(document <- results){
				<tr>
					<td>
						<h4><a href="@document.url">@document.title</a><br>
						<small>@document.summary</small></h4>
					</td>
				</tr>
			}
			</table>
			<!--table class="table borderless" style="border: none;">
			<tr>
			<td>
          		<h4><a href="#">Frequently Asked Questions</a><br><small>Some description</small></h4>
        	</td>
			</tr>
			<tr>
			<h4><a href="#">Frequently Asked Questions</a><br><small>Some description</small></h4>
			</tr>
			<tr>
			<h4><a href="#">Frequently Asked Questions</a><br><small>Some description</small></h4>
			</tr>
			<tr>
			<h4><a href="#">Frequently Asked Questions</a><br><small>Some description</small></h4>
			</tr>
			<tr>
			<h4><a href="#">Frequently Asked Questions</a><br><small>Some description</small></h4>
			</tr>
			</table-->
		<!--/div>
		
	</div-->
	@pagination(page, pageLength, count, routes.SearchController.searchList(_))
	<!--div class="row row-nb" id="search-more">
		<div class="col-sm-12 col-lg-12 col-xs-12 hcenter">
			<button type="button" class="btn btn-primary">Load More Results</button>
		</div>
	</div-->
	
</div>
<!--script type="text/javascript">
	$(window).ready(function(){
		$('ul.pagination li').on('click', "a", function(){
			event.preventDefault();
			$(this).parent().removeClass("active");
			$(this).addClass("active");

//			var s = $(this).text();
//			$('#sort-by').text(s);
//			$('#search-sort-by').val(s.toLowerCase());
//			$('#nav-search').trigger('submit');
		});
	});
</script-->
			</div>
		</div>
		<div class="footer empty">
		</div>
	</div>
</body></html>