@()
<html>
<head>
	<title>search system</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="@routes.Assets.versioned("stylesheets/app.min.css")" rel="stylesheet" type="text/css">
</head>
<body id="index">
	
	<script src="@routes.Assets.versioned("javascipts/app.min.js")"></script>
	
	<div class="page">
		<div class="page-body">
			<div class="bg">
				<div class="container jumbotron hcenter" id="content">
					<img class="logo" src="@routes.Assets.versioned("images/logo.png")">
					<p>Search The Web</p>
					<form action="@routes.SearchController.search()" method="get" novalidate="">
						<div class="input-group">
							<span class="input-group-addon"><label for="search">Search</label></span>
							<input id="search" name="query" class="form-control" type="text" placeholder="Ex: Russia" tabindex="1">
						</div>
					</form>
				</div>
			</div>
			<!--div id="main-content">
				<div class="container">
					
					<div class="row">
						<div class="col-xs-12">
							<h4>Explore Tags:</h4>
							<div class="tags hcenter">
								
								<a href="/tag/accordion" class="label label-success">accordion</a>
								<a href="/tag/collapsible" class="label label-success">collapsible</a>
								<a href="/tag/tree" class="label label-success">tree</a>
								
							</div>
						</div>
					</div>
				</div>
			</div-->
		</div>
		<div class="footer">
			<nav class="navbar" role="navigation">
				<div class="container">
					<ul class="nav navbar-nav navbar-right">
						<!--li><a href="/blog"><span class="icon"><i class="icon-rss"></i></span>Blog</a></li>
						<li><a href="https://twitter.com/uibox"><span class="icon"><i class="icon-ttter"></i></span>Twitter</a></li-->
					</ul>
				</div>
			</nav>
		</div>
	</div>
	<script type="text/javascript">
		$(window).ready(function(){
			$('#search').trigger('focus');
		});
	</script>
	
</body></html>