@(title: String)
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@title</title>

<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/search-styles.css")" />

</head>

<body>

<div id="page">

    <h1 align="center">Vert Search</h1>
    
    <form class="form-inline" role="form" method="get" action="@routes.SearchController.search()">
		<fieldset>
        
           	<input name="query" id="s" type="text">
            
            <button type="submit" value="Submit" id="submitButton"/>

            
        </fieldset>
    </form>

    <div id="resultsDiv"></div>
    
</div>

<!-- It would be great if you leave the link back to the tutorial. Thanks! -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script src="@routes.Assets.versioned("javascripts/scripts.js")"></script>
</body>
</html>
